@ -12,64 +12,112 @@
        content="geolocation 'none'; midi 'none'; sync-xhr 'none'; microphone 'none'; camera 'none'; magnetometer 'none'; gyroscope 'none'; speaker 'none'; fullscreen 'self'; payment 'none';">
    <title>Data Leaking Risk Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
   
</head>

<body>
    <input type="text" id="url">
    <section class="scan">
        <h2>Data Leaking Risk Scanner</h2>
        <input type="text" id="url" placeholder="https://www.dhycbcm.com">
        <button type="submit" onclick="myfunction();">Scan URL</button>
        <div id="result"></div>
    </section>

    <button type="submit" onclick='myfunction();'>Scan url</button>
    <div id="result"></div>
    <br>
    <br>
    <div id="main">
        <div class="border">
            <div id="myBar" style="height:24px;width: 0%;"></div>
    <section class="first">
        <div id="main" style="display: none;">
            <div class="progress-and-table">
                <div class="progress-bar">
                    <div class="border">
                        <div id="myBar" class="progress-value"></div>
                    </div>
    
                    <div class="progress-circle">
                        <div class="circle-wrap">
                            <div class="circle">
                                <div class="mask full">
                                    <div class="fill"></div>
                                </div>
                                <div class="mask half">
                                    <div class="fill"></div>
                                </div>
                                <div class="inside-circle">0%</div>
                            </div>
                        </div>
                    </div>
                    <div class="risk"></div>
                </div>
                <div class="table-container">
                    <div class="result-total-score">
                        <table border="1">
                            <tr>
                                <td>80-99</td>
                                <td>Low Risk</td>
                            </tr>
                            <tr>
                                <td>60-79</td>
                                <td>Medium Low Risk</td>
                            </tr>
                            <tr>
                                <td>40-59</td>
                                <td>Medium Risk</td>
                            </tr>
                            <tr>
                                <td>20-39</td>
                                <td>Medium High Risk</td>
                            </tr>
                            <tr>
                                <td>0-19</td>
                                <td>High Risk</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <p id="score">0%</p>

        <div class="risk"></div>

        <table border="1">
            <tr>
                <td>80-99</td>
                <td>Low Risk</td>
            </tr>
            <tr>
                <td>60-79</td>
                <td>Medium Low Risk</td>
            </tr>
            <tr>
                <td>40-59</td>
                <td>Medium Risk</td>
            </tr>
            <tr>
                <td>20-39</td>
                <td>Medium High Risk</td>
            </tr>
            <tr>
                <td>0-19</td>
                <td>High Risk</td>
            </tr>
        </table>

    </section>
    
        <div class="param">
            <h2>clickjack vulnerability</h2>
            <ul id="clickjack"></ul>
            <div class="vulnerability-box" id="clickjack-box">
                <h2>clickjack vulnerability</h2>
                <ul id="clickjack"></ul>
            </div>

            <div class="" id="clickjack-box">
            <h2>SQL vulnerability</h2>
            <ul id="sql"></ul>
            </div>

            <div class="" id="clickjack-box">
            <h2>Hostname vulnerability</h2>
            <ul id="hostname"></ul>
            </div>

            <div class="" id="clickjack-box">
            <h2>Scheme vulnerability</h2>
            <ul id="scheme"></ul>
            </div>

            <div class="" id="clickjack-box">
            <h2>authentication vulnerability</h2>
            <ul id="authenticate"></ul>
            </div>

            <div class="" id="clickjack-box">
            <h2>authorization vulnerability</h2>
            <ul id="authorize"></ul>
            </div>

            <div class="" id="clickjack-box">
            <h2>cookies vulnerability</h2>
            <ul id="cookies"></ul>
            </div>

            <div class="" id="clickjack-box">
            <h2>3rd party integration vulnerability</h2>
            <ul id="thirdParty"></ul>
            </div>
        </div>

        <div class="tipforDev">
@ -91,28 +139,62 @@
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // document.getElementById('main').style.display = 'none';
        document.getElementById('main').style.display = 'none';
        // Variable to store the interval ID for the progress animation
var progressInterval;

function startProgressAnimation(score) {
            var elem = document.getElementById("myBar");
            var width = 0;
            var progressInterval = setInterval(frame, 10);

            function frame() {
                if (width >= score) {
                    clearInterval(progressInterval);
                } else {
                    width++;
                    elem.style.width = width + '%';
                    document.getElementById("score").innerHTML = width + '%';
                }
            }
        }

        // Function to update the circular progress dynamically
        function updateCircleProgress(percentage) {
            $('.inside-circle').text(percentage + '%');
        }

        function myfunction() {
            const url = document.getElementById("url").value;
            const data = { url };
            var tipDev = []
            var tipUser = []
            $('#loading-screen').show();

            $.ajax({
                url: "/test",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.error) {
                        $('#result').text('Invalid url plaese try again');
                        $('#loading-screen').hide();
                        document.getElementById('main').style.display = 'none';
                    } else {
                        $('#result').text('Total Score: ' + response.total);
                        move(response.total)

function myfunction() {
    const url = document.getElementById("url").value;
    const data = { url };
    var tipDev = [];
    var tipUser = [];
    $('#loading-screen').show();

    $.ajax({
        url: "/test",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function (response) {
            if (response.error) {
                $('#result').text('Invalid url plaese try again');
                $('#loading-screen').hide();
                document.getElementById('main').style.display = 'none';
            } else {
                $('#result').text('Total Score: ' + response.total);
                move(response.total);

                // Calculate percentage
                var percentage = response.total;

                // Update the content of the inside-circle element
                $('.inside-circle').text(percentage + '%');

                // Update circular progress bar
                updateCircleProgress(percentage);

                        if (response.total >= 80) {
                            $('.risk').text('Low Risk of Data Leakage');
@ -230,19 +312,21 @@
            });
        }
        function move(score) {
            var elem = document.getElementById("myBar");
            var width = 20;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= score) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                    document.getElementById("score").innerHTML = width * 1 + '%';
                }
            }
    var elem = document.getElementById("myBar");
    var width = 0;
    var id = setInterval(frame, 10);
    function frame() {
        if (width >= score) {
            clearInterval(id);
        } else {
            width++;
            elem.style.width = width + '%';
            document.getElementById("score").innerHTML = width * 1 + '%';
        }
    }
}



        function arrayToList(array) {
            // Create a new unordered list element
@ -276,6 +360,13 @@
            listContainer.appendChild(arrayToList(array));
        }


        $(document).ready(function(){
    $('.vulnerability-box').click(function(){
        $(this).toggleClass('active'); // Toggle the 'active' class on click
    });
});

    </script>
</body>
