<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSubDomains">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-XSS-Protection" content="1; mode=block">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <meta http-equiv="Feature-Policy"
        content="geolocation 'none'; midi 'none'; sync-xhr 'none'; microphone 'none'; camera 'none'; magnetometer 'none'; gyroscope 'none'; speaker 'none'; fullscreen 'self'; payment 'none';">
    <title>Data Leaking Risk Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <input type="text" id="url">

    <button type="submit" onclick='myfunction();'>Scan url</button>
    <div id="result"></div>
    <br>
    <br>
    <div id="main">
        <div class="border">
            <div id="myBar" style="height:24px;width: 0%;"></div>
        </div>

        <p id="score">0%</p>

        <div class="risk"></div>

        <table border="1">
            <tr>
                <td>80-99</td>
                <td>Low Risk</td>
            </tr>
            <tr>
                <td>60-79</td>
                <td>Medium Low Risk</td>
            </tr>
            <tr>
                <td>40-59</td>
                <td>Medium Risk</td>
            </tr>
            <tr>
                <td>20-39</td>
                <td>Medium High Risk</td>
            </tr>
            <tr>
                <td>0-19</td>
                <td>High Risk</td>
            </tr>
        </table>

        <div class="param">
            <h2>clickjack vulnerability</h2>
            <ul id="clickjack"></ul>
            <h2>SQL vulnerability</h2>
            <ul id="sql"></ul>
            <h2>Hostname vulnerability</h2>
            <ul id="hostname"></ul>
            <h2>Scheme vulnerability</h2>
            <ul id="scheme"></ul>
            <h2>authentication vulnerability</h2>
            <ul id="authenticate"></ul>
            <h2>authorization vulnerability</h2>
            <ul id="authorize"></ul>
            <h2>cookies vulnerability</h2>
            <ul id="cookies"></ul>
            <h2>3rd party integration vulnerability</h2>
            <ul id="thirdParty"></ul>
        </div>

        <div class="tipforDev">
            <h2>tips for Developer</h2>
            <div id="tipDev"></div>
        </div>

        <div class="tipforUser">
            <h2>tips for User</h2>
            <div id="tipUser"></div>
        </div>
    </div>

    <div id="loading-screen">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.getElementById('main').style.display = 'none';

        function myfunction() {
            const url = document.getElementById("url").value;
            const data = { url };
            var tipDev = []
            var tipUser = []
            $('#loading-screen').show();

            $.ajax({
                url: "/test",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.error) {
                        $('#result').text('Invalid url plaese try again');
                        $('#loading-screen').hide();
                        document.getElementById('main').style.display = 'none';
                    } else {
                        $('#result').text('Total Score: ' + response.total);
                        move(response.total)

                        if (response.total >= 80) {
                            $('.risk').text('Low Risk of Data Leakage');
                        } else if (response.total >= 60) {
                            $('.risk').text('Medium Low Risk of Data Leakage');
                        } else if (response.total >= 40) {
                            $('.risk').text('Medium Risk of Data Leakage');
                        } else if (response.total >= 20) {
                            $('.risk').text('Medium High Risk of Data Leakage');
                        } else if (response.total >= 0) {
                            $('.risk').text('High Risk of Data Leakage');
                        }

                        if (response.CJScore < 14) {
                            if (!response.boolArr[0]) {
                                $('#clickjack').append('<li>Missing Strict-Transport-Security</li>')
                            }
                            if (!response.boolArr[1]) {
                                $('#clickjack').append('<li>Missing X-Content-Type-Options</li>')
                            }
                            if (!response.boolArr[2]) {
                                $('#clickjack').append('<li>Missing Content-Security-Policy</li>')
                            }
                            if (!response.boolArr[3]) {
                                $('#clickjack').append('<li>Missing X-Frame-Options</li>')
                            }
                            if (!response.boolArr[4]) {
                                $('#clickjack').append('<li>Missing X-XSS-Protection</li>')
                            }
                            if (!response.boolArr[5]) {
                                $('#clickjack').append('<li>Missing Referrer-Policy</li>')
                            }
                            if (!response.boolArr[6]) {
                                $('#clickjack').append('<li>Missing Feature-policy</li>')
                            }
                            tipDev.push('add on missing clickjack headers')
                            tipUser.push('be careful')
                        } else {
                            $('#clickjack').append('<li>Have no clickjack vulnerability</li>')
                        }

                        if (response.sqlScore == 17) {
                            $('#sql').append('<li>No SQL injection attack vulnerability detected</li>')
                        } else {
                            $('#sql').append('<li>SQL injection attack vulnerability detected</li>')
                            tipDev.push('blablabla')
                            tipUser.push('blablabla')
                        }

                        if (response.hnScore == 9) {
                            $('#hostname').append('<li>' + response.hostName + ' is valid hostname</li>')
                        } else {
                            $('#hostname').append('<li>Invalid hostname</li>')
                            tipDev.push('blablabla')
                            tipUser.push('blablabla')
                        }

                        if (response.scheme) {
                            $('#scheme').append('<li>Secure scheme</li>')
                        } else {
                            $('#scheme').append('<li>Insecure scheme</li>')
                            tipDev.push('blablabla')
                            tipUser.push('blablabla')
                        }

                        if (response.auth_header) {
                            $('#authenticate').append('<li>Authentication Required</li>')
                        } else if (response.auth_meta) {
                            $('#authenticate').append('<li>Authentication Required</li>')
                        } else {
                            $('#authenticate').append('<li>No authentication required</li>')
                            tipDev.push('blablabla')
                            tipUser.push('blablabla')
                        }

                        if (response.authorize) {
                            $('#authorize').append('<li>Authorization Required</li>')
                        } else {
                            $('#authorize').append('<li>No Authorization Required</li>')
                            tipDev.push('blablabla')
                            tipUser.push('blablabla')
                        }

                        if (response.cookiesNum > 0) {
                            $('#cookies').append('<li>There are ' + response.cookiesNum + ' normal cookies detected</li>')
                            tipDev.push('blablabla')
                            tipUser.push('blablabla')
                        } else {
                            $('#cookies').append('<li>No normal cookies detected</li>')
                        }

                        if (response.thirdPartyCookies > 0) {
                            $('#thirdParty').append('<li>There are ' + response.thirdPartyCookies + ' third party cookies detected</li>')
                            tipDev.push('blablabla')
                            tipUser.push('blablabla')
                        } else {
                            $('#thirdParty').append('<li>No third party cookies detected</li>')
                        }
                        if (response.thirdPartyRequest > 0) {
                            $('#thirdParty').append('<li>There are ' + response.thirdPartyRequest + ' requests to external domain detected</li>')
                            tipDev.push('blablabla')
                            tipUser.push('blablabla')
                        } else {
                            $('#thirdParty').append('<li>No request to external domain detected</li>')
                        }

                        tipDev.push('general')
                        tipUser.push('general')
                        displayList(tipDev, "#tipDev")
                        displayList(tipUser, "#tipUser")
                        $('#loading-screen').hide();
                        $('#main').show();
                    }
                }
            });
        }
        function move(score) {
            var elem = document.getElementById("myBar");
            var width = 20;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= score) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                    document.getElementById("score").innerHTML = width * 1 + '%';
                }
            }
        }

        function arrayToList(array) {
            // Create a new unordered list element
            const ul = document.createElement('ul');

            // Loop through the array
            array.forEach(function (item) {
                // Create a new list item element
                const li = document.createElement('li');

                // Set the text content of the list item to the array element
                li.textContent = item;

                // Append the list item to the unordered list
                ul.appendChild(li);
            });

            // Return the unordered list
            return ul;
        }

        // Function to display the list in the specified container
        function displayList(array, containerId) {
            // Get the list container element
            const listContainer = document.querySelector(containerId);

            // Clear existing list content
            listContainer.innerHTML = '';

            // Convert the array to a list and append it to the list container
            listContainer.appendChild(arrayToList(array));
        }

    </script>
</body>

</html>