<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass Python variable to Javascript</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <input type="text" id="url">

    <button type="submit" onclick='myfunction();'>Click Here to see your data</button>
    <div id="result"></div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        function myfunction() {
            const url = document.getElementById("url").value;
            const data = { url };

            $.ajax({
                url: "/test",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    $('#result').text('Clickjack Score: ' + response.total);
                }
            });
        }
    </script>
</body>

</html>